
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App.light {
  background-color: #ffffff; 
  color: #000000;           
}

.App.dark {
  background-color: #272020; 
  min-height: 100vh;
  color: #ffffff;           
}

.square {
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 2px solid #333;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #ffccff;
}

.board-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.winner-message {
  font-size: 2rem;
  color: green;
  text-align: center;
  background-color: pink;
  padding: 20px;
  border: 2px solid green;
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  z-index: 1;
}

/* Button styling */
button {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3182ce;
}
